* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-transform: uppercase;
}

p {
  text-align: center;
}

a {
  color: #12b0d2;
  font-weight: bold;
}

body {
  background-image: url(../img/Layer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #141124;
  color: white;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1.4fr;
}

.container-left {
  height: 100vh;
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
}

.container-right {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 2rem;
  color: white;
}

.right-center {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.registration-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  background-color: #252340;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
}

.registration-button:hover {
  background-color: white;
  color: #12b0d2;
  cursor: pointer;
}

.registration-button {
  background-color: #12b0d2;
  border-style: none;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 10px 0px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
}

.form-confirmation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}

.right-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-confirmation-policy {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-confirmation-policy label {
  flex: 2;
}

.form-confirmation-policy input {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
